/* Enter your custom styles here */
.myLabelStyle {
        color: #434343;
        font-weight: bold;
        font-size: 0.9rem;
}

.mySpecialLabelStyle {
        color: #2600ff;
        font-weight: bold;
        font-size: 0.9rem;
}
.myCustomHeader {
    color: #484848;
    font-weight: bold;
    font-size: 1.3rem;
}
.toolbarLikeLine {
  border-bottom: 1px solid #000000;  /* Toolbar 기본 밑줄 색상과 유사 */
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.iconsize{
	font-size : 1.1rem;
}

.textVerticalCenter {
  vertical-align: middle;
  line-height: 1.5rem;  /* 아이콘 크기와 맞춰 조절 */
}